.instructor_top_part {
    background: linear-gradient(130.19deg, #009C90 13.29%, #007394 92.8%);
}
.container {
    background: linear-gradient(130.19deg, rgba(0, 156, 144, 0.54) 13.29%, rgba(0, 115, 148, 0.54) 92.8%),url("../../public/assets/Images/general/aboutus.png");
    background-size: 100% 100%;
}
.No_bg {
    background:none;
}
.with_bg {
    background: linear-gradient(156.62deg, rgba(7, 72, 91, 0.7) 13.1%, rgba(0, 156, 144, 0.7) 145.35%) ,url("../../public/assets/Images/general/bg.png");
}