
.trainer_top_part{
    background: linear-gradient(130.19deg,  rgba(0, 156, 144, 0.46),rgba(0, 115, 148, 0.46)), url('../../public/assets/Images/general/DistanceEd.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}